
    <h1 class="text-center">Conocimientos</h1>
    
          <div class="col-xs-12 col-xs-offset-1 col-md-12 col-md-offset-3">
              <section class="fondo"[style.backgroundImage]="fondo"
              (mouseenter)="pararIntervalo()"
              (mouseleave)="reanudarIntervalor()">
   
              </section>
              <section class="col-xs-10 col-md-6 text-center texto" *ngFor="let conocimiento of conocimientos">
                       <h2>{{conocimiento.nombre}}</h2>
         <p>{{conocimiento.descripcion[0]}}</p>
         <p>{{conocimiento.descripcion[1]}}</p>
              </section>
                  
          </div>
  